
.box-shadow{
    box-shadow: 0px 0px 5px 0px $border-shadow-color;
}

.action-btn{
    margin: 10px;
}

.input-field{
    width: 50%;
    display: block;
}

.status-radio-input {
    margin-top: 10px;
}

.input-radio-inline{
    width: 50%;
    display: inline-block;
}